.s_main {
  display: grid;
  grid-template: 17px / calc(59px - 25px) 7fr;
  padding: 14px 25px;
  background: rgba(10, 35, 62, 0.1);
  border-radius: 100px;
  .s_search_img:hover {
    cursor: pointer;
  }
  .s_search_inp {
    input {
      display: grid;
      width: 100%;
      background: transparent;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: rgba(10, 35, 62, 0.5);
    }
    // input::placeholder {
      // font-family: Roboto;
      // font-style: normal;
      // font-weight: normal;
      // font-size: 12px;
      // line-height: 14px;
      // color: rgba(10, 35, 62, 0.5);
    // }
  }
}
