::-webkit-scrollbar {
  width: 1px;
  z-index: -1;
  //   height: 19px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #465a61;
  border-radius: 100px;
}

.filter_main {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, auto);
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 5px;
  .name {
    display: grid;
    justify-content: start;
  }
  .chooenName {
    display: inline-flex;
    position: relative;
    justify-content: flex-end;
  }
  .list {
    background: #ffffff;
    padding: 8px 9px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    max-height: 81px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    transform: translateY(-50%);
    top: 140%;
    transition: 150ms;
    visibility: hidden;
    z-index: 99;
    .list_item {
      font-size: 8px;
      line-height: 12px;
      color: #465a61;
      display: inline-grid;
      width: 100%;
    }
    .list_item:hover {
      cursor: pointer;
      color: #96999B;;
    }
  }
  .active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .arrow {
    display: grid;
    align-items: center;
    transition: 150ms;
  }
  .up {
    transform: rotateZ(180deg);
  }
  .down {
    transform: rotateZ(0);
  }
}
