.introduce {
  display: grid;
  grid-template: 500px 155px / 1fr;
  .intro_img {
    display: grid;
    background-image: url("../../../assets//Images/intro/introduce.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .img_block {
      display: grid;
      align-self: end;
      h2 {
        margin: 0;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 100px;
        line-height: 150px;
        color: #ffffff;
      }
      span {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
      }
      img {
        margin: auto;
        padding: 39px 0 26px 0;
      }
    }
  }
  .menu_list {
    display: grid;
    justify-content: center;
    grid-template: 1fr / 1fr 1fr 1fr;
    align-items: center;
    padding: 20px 0;
    background: rgba(10, 35, 62, 0.05);
    .item {
      padding: 15px 0 16px 0;
      max-width: 208px;
      margin: auto;
      .item_text {
        margin: 0;
        padding-top: 5px;
        line-height: 18px;
      }
    }
  }
}

// // // // // MEDIA // // // // //

@media (max-width: 768px) {
  .introduce {
    grid-template: minmax(500px, 2fr) 1fr / 1fr;

    .menu_list {
      grid-template: 1fr / 1fr;
    }
  }
}

@media (max-width: 540px) {
  .introduce {
    .intro_img {
      .img_block {
        display: grid;
        align-self: end;
        h2 {
          font-size: 50px;
          line-height: 60px;
        }
        span {
          font-size: 15px;
          line-height: 25px;
        }
      }
    }
  }
}
