.item_main {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: grid;
  grid-template-rows: 4.4fr 1fr;
  .item_img {
    background: #fafafa;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  .item_text {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    padding: 9px 7px;
    .item_name {
      font-size: 14px;
      line-height: 21px;
      color: #0a233e;
    }
    .item_size_color {
      display: inline-grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 8px;
      b {
        font-size: 10px;
        line-height: 15px;
        color: #96999b;
      }
    }
    .item_user {
      font-size: 10px;
      line-height: 15px;
      color: #96999b;
      b {
        color: #f1c40f;
      }
    }
    .item_additional {
      display: grid;
      .data {
        display: grid;
        justify-content: start;
      }
      .views {
        display: grid;
        justify-content: end;
      }
    }
  }
}
