.header {
  display: grid;
  grid-template-rows: 1fr 32px;
  background: #fff;
  .header_main {
    display: grid;
    grid-template-columns: calc(41px + 83px) minmax(150px, 568px) 5fr;
    padding: 10px 122px;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    .header_img {
      display: grid;
      width: 41px;
      justify-content: left;
    }
    .header_actions {
      grid-column-start: 4;
    }
  }
  .categories {
    display: grid;
    align-items: center;
  }
}

// // // // // MEDIA // // // // //

@media (max-width: 1200px) {
  .header_main {
    padding: 10px 60px;
  }
}

@media (max-width: 992px) {
  .header_main {
    padding: 10px 5px;
  }
}

