* {
  user-select: none;
}

.actions_main {
  display: grid;
  grid-template-columns: auto minmax(auto, 195px) auto;
  column-gap: 12px;
  align-items: center;
  .login {
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 5px;
    padding-right: 14px;
    .login_text {
      text-align: right;
    }
    .login_img {
      display: grid;
      align-items: center;
    }
  }
  .add_button button:hover {
    cursor: pointer;
    background: #fec700;
  }
  .add_button {
    button {
      width: 100%;
      transition: 150ms;
      padding: 13px 28px 11px 33px;
      background: #f6c43e;
      border-radius: 100px;
    }
  }
  .languages {
    display: grid;
    position: relative;
    grid-template-columns: 40px 10px;
    div {
      cursor: pointer;
    }
    .lan_list {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-50%);
      top: 140%;
      transition: 150ms;
      position: absolute;
      background: #fff;
      box-shadow: 1px 1px 10px black;
      .lan_list_item {
        display: inline-grid;
        width: 100%;
      }
      .lan_list_item:hover {
        cursor: pointer;
        background: black;
        color: white;
      }
    }
    .active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    .lan_arrow {
      display: grid;
      align-items: center;
      transition: 150ms;
    }
    .up {
      transform: rotateZ(180deg);
    }
    .down {
      transform: rotateZ(0);
    }
  }
}
