.categories_main {
  display: inline-grid;
  padding-left: calc(122px + 41px + 83px);
  grid-template-columns: repeat(10, minmax(auto, 60px));
  align-items: center;
  .cat_item {
    padding-right: 14px;
    .cat_name {
      text-transform: capitalize;
      // font-size: 10px;
      font-size: 11.7px;
      line-height: 15px;
      color: #465a61;
    }
    .cat_name:hover {
      cursor: pointer;
      font-weight: 500;
      border-bottom: 2px solid #f1c40f;
    }
    .active {
      font-weight: 500;
      border-bottom: 2px solid #f1c40f;
    }
  }
  .active {
    font-weight: 500;
    border-bottom: 2px solid #f1c40f;
  }
}
