.category_main {
  display: grid;
  grid-template: auto auto / 1fr;
  justify-content: start;
  padding: 15px 124px;
  row-gap: 17px;
  .navigation {
    display: inline-flex;
    .nav {
      font-size: 10px;
      line-height: 15px;
      color: #465a61;
    }
    .nav:first-child::after {
      content: ">";
      padding: 3px;
    }
  }
  .category_inner {
    display: grid;
    grid-template-columns: 1fr 3.2fr;
  }
}
