.catalog {
  padding: 85px 112px 150px;
  background: #ffffff;
  .heading {
    max-width: 529px;
    margin: auto;
    padding-bottom: 49px;
    h2 {
      margin: auto;
      width: max-content;
      padding: 0 37px;
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 30px;
      line-height: 45px;
      border-bottom: 3px solid #f1c40f;
    }
    p {
      margin: 0;
      font-size: 20px;
      line-height: 30px;
      color: rgba(10, 35, 62, 0.5);
    }
  }
  .categories {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    grid-gap: 49px;
    .category_name {
      display: grid;
      grid-template: minmax(100px, 200px) auto / minmax(100px, 200px);
      grid-gap: 10px;
      justify-content: center;
      .cat_img {
        display: grid;
        align-items: center;
        justify-items: center;
        background: rgba(10, 35, 62, 0.05);
        border-radius: 100%;
      }
      .cat_title {
        margin: 0;
        font-size: 25px;
        line-height: 37px;
      }
    }
  }
}

// // // // // MEDIA // // // // //

@media (max-width: 992px) {
  .catalog {
    padding: 85px 30px 150px;
  }
}

@media (max-width: 768px) {
  .catalog {
    .categories {
      grid-template: 1fr / 1fr 1fr;
    }
  }
}

@media (max-width: 540px) {
    .catalog {
      .categories {
        grid-template: 1fr / 1fr;
      }
    }
  }
  