.filter_container {
  display: grid;
  grid-template-rows: repeat(4, auto);
  min-height: 164px;
  row-gap: 6px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 16px 29px;
}
