.formControl input {
    margin: 5px 0;
    padding: 5px;
    transition: 250ms;
    border-radius: 5px;
    border: 2px solid gainsboro;
}

.formControl input:focus {
    box-shadow: 1px 1px 5px cornflowerblue;
}

.error input {
    border: 2px solid red;
}

.formControl span {
    padding: 15px;
    color: red;
}
