.footer_main {
  display: grid;
  grid-template: 1fr / 1fr 3.5fr;
  .logo {
    // padding: 93px 73px 93px;
    padding: 93px 20px 93px;
    background: rgba(10, 35, 62, 0.9);
    .logo_title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 25px;
      line-height: 37px;
      color: #ffffff;
      padding-top: 12px;
    }
  }
  .info {
    text-align: left;
    padding: 0 40px;
    background: rgba(255, 227, 108, 0.9);
    .info_block {
      display: inline-grid;
      padding-top: 46px;
      padding-right: 68px;
      .info_ul_title {
        text-transform: uppercase;
        font-family: Poppins;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 27px;
        color: #083863;
      }
      .info_ul {
        padding: 11px 0 14px 0;
        .info_li {
          text-transform: capitalize;
          font-family: Poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 30px;
          color: #0a233e;
        }
      }

      .info_img {
        div {
          display: inline-grid;
          padding-right: 22px;
        }
      }
    }
    .info_credits {
      padding-top: 79px;
      padding-bottom: 9px;
      .credits {
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;
        color: #0a233e;
      }
    }
  }
}

// // // // // MEDIA // // // // //

@media (max-width: 540px) {
  .footer_main {
    display: grid;
    grid-template: 1fr / 1fr;
    .info {
      padding: 0 10px;
    }
    ul, p {
      margin: 0;
    }
  }
}
