nav {
  background: #ffffff;
}

body {
  background: #e5e5e5;
}
a {
  text-decoration: none;
}

$text_color: #0a233e;
$text_family: Poppins;

.t_c {
  font-family: $text_family;
  color: $text_color;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

input,
button,
select {
  border: none;
  outline: none;
}

ul li {
  margin: 0;
  list-style: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
