.items_main{
    display: grid;
    grid-template: minmax(150px, 296px) / 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 11px;
    .item {
        display: grid;
        height: 100%;
    }
}